<div class="bg-black md:flex px-4 py-12">
  <div class="w-full md:w-72 lg:w-96 flex-none pb-12">
    {% include "syllabus" %}
  </div>

  <main class="w-full text-white">
    <h2 class="sans-serif uppercase pb-2 text-sm">{{ post.category.title }}</h2>
    <h1 class="text-white text-5xl md:text-7xl serif pb-4">{{ post.title }}</h1>

    {% if post.video %}
      <video class="w-full aspect-[16/10]" controls poster="{{ post.poster_image_url }}">
        <source src="{{ post.video.url }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    {% endif %}

    <section class="max-w-xl post-body">
      {{ post.body }}

      <div class="pt-8">  
        <a href="#" data-complete-text="Mark as Complete" data-incomplete-text="✓ Completed" data-post-completion-toggle="{{ post.completed? }}" data-token="{{ post.completion_token }}" class="w-full text-center inline-block bg-black text-white border border-white border-solid sans-serif text-2xl uppercase rounded mt-4 px-2 py-1" kjb-settings-id="{{ complete }}">
          {% if post.completed? %}
            ✓ Completed
          {% else %}
            Mark as Complete
          {% endif %}
        </a>

        {% if post.next.url %}
          <a href="{{ post.next.url }}" class="w-full text-center inline-block bg-white text-black border border-black border-solid sans-serif text-2xl uppercase rounded mt-4 px-2 py-1">Go to Next Module →</a>
        {% endif %}
      </div>
    </section>
  </main>
</div>